body {
    background-color: white;
}

.full-background-image {
    background-color: black;
    background-image: url("/static/images/cass5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 40px;
}

.content-container {
    margin-top: 90px;
}